html {
  font-family: "Roboto", sans-serif;
}
.slide-show {
  width: 100%;
}
.slide-show img {
  width: 100%;
}
.items-sound {
  padding: 1% 10%;
}
.items-sound h3 {
  font-size: 1.5rem;
}
.items-sound .list_items-sound {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.list_items-sound .box-item-sound {
  border: 1px solid #dedede;
  width: 30%;
  margin-top: 10px;
}
.box-item-sound .img_item-sound {
  width: 100%;
}
.img_item-sound img {
  width: 100%;
  border-bottom: 1px solid #dedede;
}
/* CSS text-sound */
.box-item-sound .text_item-sound {
  padding-left: 2%;
  width: 100%;
  padding-bottom: 10px;
}
.text_item-sound a {
  text-decoration: none;
  color: #333;
}
.text_item-sound h4 {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 450;
  text-transform: uppercase;
}
.text_item-sound .price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.price li {
  list-style: none;
  font-size: 0.9rem;
  color: red;
  font-weight: 550;
  margin-bottom: 5px;
}
.text_item-sound span {
  font-size: 0.9rem;
}
/* CSS note-sound */
.note-sound {
  padding: 1% 10%;
}
.note-sound .box-note-sound {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #dedede;
  padding: 1% 2%;
}
.box-note-sound p {
  font-size: 0.9rem;
  padding: 0;
  text-transform: none;
}
.box-note-sound span {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.box-note-sound .img-note-sound {
  margin: 0 auto;
  width: 80%;
}
.img-note-sound img {
  width: 100%;
}

/* CSS hover a */
.text_item-sound h4:hover {
  text-decoration: underline;
}
